body {
    background-image: url(https://www.shutterstock.com/image-illustration/blank-slot-machine-background-display-260nw-263643029.jpg);
   text-align: center;
   height: 90vh;
   background-size: cover;
}

h1 {
    text-align: center;
    color:white;
}

h4{
    text-align: center;
    color: white;
}

#msg {
    text-align: center;
color: white;
}
#bank {
    text-align: center;
    color: white;
 }

 button#bet {
text-align: center;
 }

 button#spin {
    text-align: center;

 }

 button#restart {
    text-align: center;

 }

 div {
    position: relative;
    text-align: center;
    display: inline;
    
 }