body {
    
    background-image: url(https://i.imgur.com/t5F9isV.jpg?1);
   text-align: center;
   height: 90vh;
   background-size: cover;
}

h1 {
    text-align: center;
    color:black;
    text-shadow: 2px 2px #ff0026;
    font-size: 50px;
    margin: auto;
}

h4{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    
}

#msg {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: black;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;

}
#bank {
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    left: 100px;
    font-size: 20px;
    font-weight: bold;
    font-size: 40px;
    
 }

 

 button#spin {
    position: absolute;
    bottom:0;
    margin-left: -150px;
    text-align: center;
    background-color: crimson;
    padding: 15px 32px;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
 }

 button#restart {
    position:absolute;
    bottom:0;
    margin-right: 50px;
    text-align: center;
    background-color: crimson;
    padding: 15px 32px;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
 }

 div {
    
    position: relative;
    text-align: center;
    display: inline;
    
 }
 .emoji {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    margin: -50px 75px 0px 125px;
    padding: 200px 75px 200px 75px;
    
 }
 #img1{
 width: 50px;
 font-size: 170px;
 }
 #img2 {
 width: 50px;
 font-size: 170px;
 }
 #img3{
 width: 50px;
 font-size: 170px;
 }